<div class="header-container">
  <div class="header-top">
    <div class="header-left">
      <div class="header-title">{{ 'Header.Title' | translate }}</div>
      <div class="header-subtitle">{{ 'Header.Subtitle' | translate }}</div>
    </div>
    <div class="header-right">
      @if (countryState.loading()) {
        <p-skeleton width="200px" height="40px" />
      } @else if (countryState.error() && countryState.availableCountries().length === 0) {
        <div class="country-error">
          <span class="country-error-text">{{ 'SoloPlanner.Error.LoadFailed' | translate }}</span>
          <button
            type="button"
            pButton
            [label]="'SoloPlanner.Error.Retry' | translate"
            icon="pi pi-refresh"
            (click)="retryCountryLoad()"
            severity="secondary"
            [text]="true"
            size="small"
          ></button>
        </div>
      } @else {
        <p-select
          [options]="countryState.availableCountries()"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          [placeholder]="'SoloPlanner.SelectCountry' | translate"
          [ngModel]="selectedCountryObject()"
          [ngModelOptions]="{ standalone: true }"
          (onChange)="onCountryChange($event.value)"
          [dataKey]="'countryCode'"
          class="country-select"
        >
          <ng-template #selectedItem let-selectedOption>
            <div class="country-option">
              <img
                class="country-flag"
                [src]="'https://flagcdn.com/24x18/' + selectedOption.countryCode.toLowerCase() + '.png'"
                [alt]="selectedOption.name"
                width="24"
                height="18"
              />
              <span>{{ selectedOption.name }}</span>
            </div>
          </ng-template>
          <ng-template #item let-country>
            <div class="country-option">
              <img
                class="country-flag"
                [src]="'https://flagcdn.com/24x18/' + country.countryCode.toLowerCase() + '.png'"
                [alt]="country.name"
                width="24"
                height="18"
              />
              <span>{{ country.name }}</span>
            </div>
          </ng-template>
        </p-select>
      }
      <button
        class="header-btn theme-btn"
        type="button"
        (click)="toggleTheme()"
        aria-label="Toggle dark mode"
      >
        <i class="pi" [class.pi-moon]="!isDark()" [class.pi-sun]="isDark()"></i>
      </button>
    </div>
  </div>
  <div class="header-tabs">
    <p-tabs value="solo-planner">
      <p-tablist>
        @for (tab of tabs; track tab.value) {
          <p-tab
            [value]="tab.value"
            (click)="navigateToTab(tab.navigateTo)"
            [disabled]="tab.disabled"
          >
            {{ tab.label | translate }}
            @if (tab.disabled) {
              <span class="coming-soon-badge">{{ 'Header.ComingSoon' | translate }}</span>
            }
          </p-tab>
        }
      </p-tablist>
    </p-tabs>
  </div>
</div>
