<div class="configuration-container">
  <h4 class="configuration-title">{{ 'SoloPlanner.Configuration' | translate }}</h4>

  @if (loading()) {
    <div class="configuration-skeleton">
      @for (_ of [1, 2, 3, 4, 5, 6]; track $index) {
        <div class="skeleton-field">
          <p-skeleton width="40%" height="14px" />
          <p-skeleton width="100%" height="40px" />
        </div>
      }
    </div>
  } @else if (error() && availableCountries().length === 0) {
    <div class="configuration-error">
      <i class="pi pi-exclamation-circle error-icon"></i>
      <p class="error-message">{{ 'SoloPlanner.Error.LoadFailed' | translate }}</p>
      <button
        type="button"
        pButton
        [label]="'SoloPlanner.Error.Retry' | translate"
        icon="pi pi-refresh"
        (click)="retry()"
        severity="primary"
      ></button>
    </div>
  } @else {
    <div class="configuration-form">
      <form [formGroup]="configForm" (ngSubmit)="onSubmit()">
        <div class="form-field">
          <label class="form-label">{{ 'SoloPlanner.Country' | translate }}</label>
          <div class="country-select-wrapper">
            @if (countryCode()) {
              <img
                class="country-flag"
                [src]="'https://flagcdn.com/24x18/' + countryCode().toLowerCase() + '.png'"
                [alt]="countryName()"
                width="24"
                height="18"
              />
            }
            <p-select
              [options]="availableCountries()"
              optionLabel="name"
              [filter]="true"
              filterBy="name"
              [placeholder]="'SoloPlanner.SelectCountry' | translate"
              [ngModel]="{ countryCode: countryCode(), name: countryName() }"
              [ngModelOptions]="{ standalone: true }"
              (onChange)="onCountryChange($event.value)"
              [dataKey]="'countryCode'"
              class="country-select"
            />
          </div>
          @if (countryCode()) {
            <span class="form-hint">{{ 'SoloPlanner.CountryChangeHint' | translate }}</span>
          }
        </div>

        <div class="form-field">
          <label class="form-label">{{ 'SoloPlanner.AvailablePtoDays' | translate }}</label>
          <p-inputnumber
            formControlName="ptoDays"
            [min]="1"
            [max]="50"
            [showButtons]="true"
            class="input-number"
          />
          @if (minimumLeaveDays() !== null) {
            <span class="form-hint">
              {{ 'SoloPlanner.MinimumLeaveHint' | translate: { country: countryName(), days: minimumLeaveDays() } }}
            </span>
          } @else if (countryName()) {
            <span class="form-hint form-hint-warn">
              {{ 'SoloPlanner.MinimumLeaveUnavailable' | translate: { country: countryName() } }}
            </span>
          }
        </div>

        <div class="form-field">
          <label class="form-label">{{ 'SoloPlanner.Year' | translate }}</label>
          <p-select
            formControlName="year"
            [options]="years"
            optionLabel="label"
            optionValue="value"
            class="w-full"
          />
        </div>

        <div class="form-field">
          <label class="form-label">{{ 'SoloPlanner.MinPtoDays' | translate }}</label>
          <p-inputnumber
            formControlName="minPtoDays"
            [min]="1"
            [max]="configForm.controls.maxPtoDays.value"
            [showButtons]="true"
            class="input-number"
          />
        </div>

        <div class="form-field">
          <label class="form-label">{{ 'SoloPlanner.MaxPtoDays' | translate }}</label>
          <p-inputnumber
            formControlName="maxPtoDays"
            [min]="configForm.controls.minPtoDays.value"
            [max]="configForm.controls.ptoDays.value"
            [showButtons]="true"
            class="input-number"
          />
        </div>

        <div class="form-field">
          <label class="form-label">{{ 'SoloPlanner.EnableMidWeekStarts' | translate }}</label>
          <p-toggleswitch formControlName="enableMidWeekStarts" />
        </div>

        <div class="form-field">
          <label class="form-label">{{ 'SoloPlanner.PeriodFilter' | translate }}</label>
          <p-select
            formControlName="periodFilter"
            [options]="periodFilters"
            optionLabel="label"
            optionValue="value"
            optionDisabled="disabled"
            [filter]="true"
            filterBy="label"
            class="w-full"
          />
        </div>

        @if (!hasSearched()) {
          <button
            type="submit"
            pButton
            [label]="'SoloPlanner.FindBestVacation' | translate"
            icon="pi pi-search"
            class="submit-button"
            severity="primary"
          ></button>
        }
      </form>
    </div>
  }
</div>
