<div class="configuration-container">
  <div class="configuration-header">
    <h4 class="configuration-title">{{ 'SoloPlanner.Configuration' | translate }}</h4>
    <p class="configuration-subtitle">
      {{ 'SoloPlanner.PtoExplainer' | translate }}
    </p>
  </div>

  @if (loading()) {
    <div class="configuration-skeleton">
      @for (_ of [1, 2, 3, 4, 5, 6, 7, 8]; track $index) {
        <div class="skeleton-field">
          <p-skeleton width="40%" height="14px" />
          <p-skeleton width="100%" height="40px" />
        </div>
      }
    </div>
  } @else if (countryState.error() && countryState.availableCountries().length === 0) {
    <div class="configuration-error">
      <i class="pi pi-exclamation-circle error-icon"></i>
      <p class="error-message">{{ 'SoloPlanner.Error.LoadFailed' | translate }}</p>
    </div>
  } @else {
    <div class="configuration-form">
      <form [formGroup]="configForm" (ngSubmit)="onSubmit()">
        <div class="form-field">
          <label class="form-label">{{ 'SoloPlanner.AvailablePtoDays' | translate }}</label>
          <p-inputnumber
            formControlName="ptoDays"
            [min]="1"
            [max]="50"
            [showButtons]="true"
            [allowEmpty]="true"
            (onBlur)="changePtoValues()"
            class="input-number"
          />
          @if (minimumLeaveDays() !== null) {
            <span class="form-hint">
              {{
                'SoloPlanner.MinimumLeaveHint'
                  | translate: { country: countryState.countryName(), days: minimumLeaveDays() }
              }}
            </span>
          } @else if (countryState.countryName()) {
            <span class="form-hint form-hint-warn">
              {{
                'SoloPlanner.MinimumLeaveUnavailable'
                  | translate: { country: countryState.countryName() }
              }}
            </span>
          }
        </div>

        <div class="form-field">
          <label class="form-label">{{ 'SoloPlanner.Year' | translate }}</label>
          <p-select
            formControlName="year"
            [options]="years"
            optionLabel="label"
            optionValue="value"
            class="w-full"
          />
        </div>

        <div class="form-field">
          <label class="form-label">{{ 'SoloPlanner.MaxPtoDays' | translate }}</label>
          <p-inputnumber
            formControlName="maxPtoDays"
            [min]="configForm.controls.minPtoDays.value"
            [max]="configForm.controls.ptoDays.value"
            [showButtons]="true"
            [allowEmpty]="true"
            (onBlur)="changePtoValues()"
            class="input-number"
          />
        </div>

        <p-accordion class="advanced-filters-accordion">
          <p-accordion-panel value="advanced">
            <p-accordion-header>{{ 'SoloPlanner.AdvancedFilters' | translate }}</p-accordion-header>
            <p-accordion-content>
              <div class="advanced-filters-content">
                <div class="form-field">
                  <label class="form-label">{{ 'SoloPlanner.MinPtoDays' | translate }}</label>
                  <p-inputnumber
                    formControlName="minPtoDays"
                    [min]="1"
                    [max]="configForm.controls.maxPtoDays.value"
                    [showButtons]="true"
                    [allowEmpty]="true"
                    (onBlur)="changePtoValues()"
                    class="input-number"
                  />
                </div>

                <div class="form-field">
                  <label class="form-label">{{ 'SoloPlanner.PeriodFilter' | translate }}</label>
                  <p-select
                    formControlName="periodFilter"
                    [options]="periodFilters"
                    optionLabel="label"
                    optionValue="value"
                    optionDisabled="disabled"
                    [filter]="true"
                    filterBy="label"
                    class="w-full"
                  />
                </div>

                <div class="form-field">
                  <label class="form-label">{{
                    'SoloPlanner.EnableMidWeekStarts' | translate
                  }}</label>
                  <p-toggleswitch formControlName="enableMidWeekStarts" />
                </div>

                <div class="form-field">
                  <label class="form-label">{{ 'SoloPlanner.MinGapDays' | translate }}</label>
                  <p-inputnumber
                    formControlName="minGapDays"
                    [min]="0"
                    [max]="90"
                    [showButtons]="true"
                    [allowEmpty]="true"
                    (onBlur)="changePtoValues()"
                    class="input-number"
                  />
                  <span class="form-hint">{{ 'SoloPlanner.MinGapDaysHint' | translate }}</span>
                </div>
              </div>
            </p-accordion-content>
          </p-accordion-panel>
        </p-accordion>

        @if (!hasSearched()) {
          <button
            type="submit"
            pButton
            [label]="'SoloPlanner.FindBestVacation' | translate"
            icon="pi pi-search"
            class="submit-button"
            severity="primary"
          ></button>
        }
      </form>
    </div>
  }
</div>
